/node_modules
/dist
.env
dist.zip
.DS_Store
/coverage
/db
npm-debug.log
.idea
test_environment/globalConfig.json
.vscode/*
/elasticsearch_testing/node_modules
/elasticsearch_testing/coverage
# Include Launch Config for Debugging
!/.vscode/launch.json
swagger.json
